<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<table>
    <thead>
      <tr>
        <th>Pets name</th>
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td><%= @client.pet_list %></td>
      </tr>
    </tbody>
  </table>

<%= link_to 'Edit', edit_pet_history_path(@pet_history) %> |
<%= link_to 'Back', pet_histories_path %>
